<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /replication-frontier/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /replication-frontier/index.html [L]
</IfModule>