<br>

<div>
	<label>URL: </label>
	<input #newThreadUrl />
	<label>Download Directory: </label>
	<input #newThreadDownloadDirectory />
	<select [(ngModel)]="suffixSelection" (ngModelChange)="newThreadDownloadDirectory.value = $event">
		<option *ngFor="let suffix of suffixes" [ngValue]="suffix.name">{{suffix.name}}</option>
	</select>
	<button (click)="create(newThreadUrl.value, newThreadDownloadDirectory.value);">Create</button>
</div>


<div style="width:100%;">
	<div style="width:38%;float:left;height:90%;overflow-y:scroll;">
	<ol>
		<li *ngFor="let thread of threads" [class.closed]="thread.status == 3">
			<span style="font-size:0.7em;"><strong>{{thread.id}}</strong> {{thread.name}} </span>
			<br />
			<span style="font-size:0.9em;"><em>{{thread.url}}</em></span>
			<br />
			<span style="font-size:0.6em;">{{thread.download_directory}}</span>
			<br />
			<span style="font-size:0.3em;">{{thread.status}} {{thread.last_update}}</span>
			<br />
			<button (click)="delete(thread)">X</button>
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button (click)="viewImages(thread)">View Images</button>
			<button (click)="loadNewImages(thread)">Load All New</button>
			&nbsp;
			<span *ngIf="thread.newImagesCount != thread.newImagesLoadedCount && thread.downloading == true">
				{{thread.newImagesLoadedCount}}/{{thread.newImagesCount}}
				<button (click)="cancelDownload(thread)">Cancel</button>
			</span>
		</li>
	</ol>
	</div>

	<button (click)="toggleImagesDisplay()">Toggle images {{toggle.images == true ? 'off' : 'on'}}</button>
	&nbsp;
	<button (click)="clearImagesDisplay()">Clear images</button>
	
	<div style="width:60%;float:left;height:90%;overflow-y:scroll;">
		<!--<div *ngIf="newImagesCount != newImagesLoadedCount && downloading == true">
			<span>Download: {{newImagesLoadedCount}}/{{newImagesCount}}</span>
			<button (click)="cancelDownload()">Cancel Download</button>
		</div>-->
		<div *ngIf="toggle.images">
			<div *ngFor="let image of images" style="display:inline-block;margin:2px;width:140px;height:100px;position:relative;">
				<a target="_blank" href="{{image.thumbnail_url}}">
					<img src="{{image.thumbnail_url}}" style="display:block;margin-left:auto;margin-right:auto;max-width:100%;max-height:100%;">
				</a>
				<button (click)="excludeImage(image)" style="position:absolute;left:0px;top:0px;">e</button>
				<button (click)="deleteImage(image)" style="position:absolute;right:0px;top:0px;">d</button>
			</div>
		</div>
	</div>
	<div style="clear:both"></div>
</div>