<h2>Threads</h2>

<div style="width:100%;">
	<div style="width:55%;float:left;">
	<ol>
		<li *ngFor="let thread of threads">
			<span style="font-size:0.7em;"><strong>{{thread.id}}</strong> {{thread.name}} </span>
			<br />
			<span style="font-size:0.9em;"><em>{{thread.url}}</em></span>
			<br />
			<span style="font-size:0.6em;">{{thread.download_directory}}</span>
			<br />
			<span style="font-size:0.3em;">{{thread.status}} {{thread.last_update}}</span>
			<button (click)="viewImages(thread)">View Images</button>
		</li>
	</ol>
	</div>
	<div style="width:42%;float:left;">
		<div *ngIf="images">
			<img *ngFor="let image of images" src="{{image.thumbnail_url}}">
		</div>
	</div>
	<div style="clear:both"></div>
</div>